<html>
    <head>
        <title>Django Girls Blog</title>
    </head>
    <body>
        <div>
          <h1><a href="/">Django Girls Blog</a></h1>
        </div>

        {% for post in posts %}
          <div>
            <p>published: {{post.published_date}}</p>
            <h1><a href = "">{{post.title}}</a></h1>
            <p>{{post.text|linebreaksbr}}</p>
          </div>
        {% endfor %}

        <div>
          <p>published: 02.11.2019, 15:21</p>
          <h2><ahref="">My second post</a></h2>
        </div>
    </body>
</html>
